
<nav>
  <a class="nav-logo" href="home.html">
    CYBER<span>STEG</span>LAB
  </a>
  <div class="nav-links">
    <button class="nav-btn" onclick="location.href='home.html'">HOME</button>
    <button class="nav-btn" onclick="location.href='learn.html'">LEARN</button>
    <button class="nav-btn" onclick="location.href='challenges.html'">CHALLENGES</button>
    <button class="nav-btn" onclick="location.href='leaderboard.html'">LEADERBOARD</button>
    <button class="nav-btn" onclick="location.href='colorkey.html'">TOOLS</button>
    <button class="nav-btn" onclick="location.href='profile.html'">PROFILE</button>
    <button class="nav-btn text-cyan" id="adminNavBtn" onclick="location.href='admin.html'"
      style="display:none">ADMIN</button>
    <button class="nav-btn text-error" onclick="logout()">LOGOUT</button>
    
  </div>
</nav>